/*===== COLOR ASSIGNMENTS =====*/
/*===== COLORS =====*/
/*===== MEDIA QUERIES =====*/
/*===== OTHER =====*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  color: #4a4a4a;
}
@media (min-width: 800px) {
  html {
    color: #000000;
  }
}
body {
  width: 93%;
  margin: 0 auto;
}
h1 {
  font-size: 2.8rem;
}
h2 {
  font-size: 2.4rem;
}
p {
  font-size: 1.8rem;
}
li {
  font-size: 2rem;
}
sup {
  font-size: medium;
  vertical-align: super;
}
sub {
  font-size: medium;
  vertical-align: sub;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
}
@media (min-width: 1000px) {
  header nav {
    width: 100%;
    margin: 0 auto;
    padding-right: 8%;
  }
}
header nav a {
  text-decoration: none;
  color: #4a4a4a;
}
header nav img {
  width: 60px;
}
@media (min-width: 1000px) {
  header nav img {
    width: 100px;
    margin-top: 5%;
  }
}
header nav .pages {
  font-size: 1.8rem;
}
header nav .about {
  margin-right: 40px;
}
/*========== HEADER ==========*/
#landing-header {
  margin: 32px 30px;
}
@media (min-width: 800px) {
  #landing-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 3vh 7vw 3vh 0;
  }
}
#landing-header #sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1000px) {
  #landing-header #sign-up {
    width: 51vw;
  }
}
#landing-header #sign-up h1 {
  font-weight: bold;
  line-height: 1;
  text-align: center;
  width: 85%;
}
@media (min-width: 1000px) {
  #landing-header #sign-up h1 {
    line-height: 1.2;
    font-size: 3rem;
    padding-bottom: 3%;
    text-align: left;
  }
}
#landing-header button {
  border: none;
  border-radius: 5px;
  background-color: #6AD856;
  color: #ffffff;
  cursor: pointer;
  margin: 33px auto 23px auto;
  padding: 2px 30px;
  font-size: 1.8rem;
}
#landing-header button:hover {
  background-color: #FE9A76;
}
@media (min-width: 800px) {
  #landing-header button {
    border: none;
    border-radius: 5px;
    background-color: #6AD856;
    color: #ffffff;
    cursor: pointer;
  }
  #landing-header button:hover {
    background-color: #FE9A76;
  }
}
#landing-header button .desktopButtonText {
  display: none;
}
@media (min-width: 1000px) {
  #landing-header button .desktopButtonText {
    display: inline;
  }
}
@media (min-width: 1000px) {
  #landing-header button {
    margin-left: 60%;
    padding: 2% 6%;
    font-size: 1.6rem;
  }
}
#landing-header p {
  display: none;
}
@media (min-width: 1000px) {
  #landing-header p em {
    font-style: italic;
  }
}
@media (min-width: 800px) {
  #landing-header p {
    display: block;
    text-align: center;
    font-size: 2.5rem;
    margin-top: 2%;
  }
}
@media (min-width: 1000px) {
  #landing-header p {
    text-align: left;
    margin-left: 2%;
  }
}
#landing-header img {
  display: none;
}
@media (min-width: 800px) {
  #landing-header img {
    display: block;
    width: 30vw;
  }
}
/*========== TOP CONTENT ==========*/
@media (min-width: 1000px) {
  #top-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
#top-content img {
  display: block;
  width: 85vw;
}
@media (min-width: 1000px) {
  #top-content img {
    width: 52vw;
  }
}
@media (min-width: 1000px) {
  #top-content .features-div {
    width: 35vw;
  }
}
#top-content .features-div div {
  margin-top: 42px;
}
@media (min-width: 1000px) {
  #top-content .features-div div h2 {
    font-weight: 400;
  }
}
#top-content .features-div div p {
  margin-top: 15px;
  line-height: 1.2;
}
@media (min-width: 1000px) {
  #top-content .features-div div p {
    font: 1rem;
  }
}
/*========== TESTIMONIALS ==========*/
@media (min-width: 1000px) {
  .carouselCards #carouselTestimonies {
    display: none;
  }
}
.carouselCards #carouselTestimonies .carousel-indicators li {
  /*====OVERWRITE STANDARD INDICATOR STYLE====*/
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 1px solid gray;
  margin-bottom: 15px;
}
.desktopTestimonials {
  display: none;
}
@media (min-width: 1000px) {
  .desktopTestimonials {
    display: block;
  }
}
.testimonial-block {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  margin: 45px 12% 0 12%;
  font-family: "Nunito", sans-serif;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  background: #ffffff;
  padding: 5% 40px 8% 40px;
}
.testimonial-block:first-child {
  margin-top: 85px;
}
.testimonial-block img {
  width: 50px;
}
.testimonial-block h2 {
  margin-top: 15px;
  font-weight: bold;
}
.testimonial-block p {
  margin-top: 15px;
  line-height: 1.3;
}
/*========== SUBSCRIPTION PLANS ==========*/
#subscriptions {
  background: #FE9A76;
  padding: 5vh 0 5wh 0;
}
#subscriptions .sub-heading {
  margin-top: 70px;
  text-align: center;
  font-weight: bold;
  color: white;
}
#subscriptions .subscription-block {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  margin: 45px 12% 0 12%;
  font-family: "Nunito", sans-serif;
  padding: 7% 40px 10% 40px;
}
#subscriptions .subscription-block sup {
  vertical-align: top;
}
#subscriptions .subscription-block .sub-amount {
  font-size: 5rem;
  margin-left: 5px;
}
#subscriptions .subscription-block ul {
  margin-top: 30px;
}
#subscriptions .subscription-block ul li {
  margin-bottom: 8px;
  font-weight: bold;
}
#subscriptions .subscription-block button {
  border: none;
  border-radius: 5px;
  background-color: #6AD856;
  color: #ffffff;
  cursor: pointer;
  margin-top: 20px;
  padding: 5px 35px;
  font-family: "Nunito", sans-serif;
  font-size: 2.2rem;
  font-weight: bold;
}
#subscriptions .subscription-block button:hover {
  background-color: #FE9A76;
}
/*========== BOTTOM CONTENT ==========*/
#bottom-content {
  margin-top: 80px;
  text-align: center;
  font-family: "Nunito", sans-serif;
}
#bottom-content h2 {
  font-size: 2.6rem;
  font-weight: bold;
  line-height: 1.3;
}
#bottom-content button {
  border: none;
  border-radius: 5px;
  background-color: #6AD856;
  color: #ffffff;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  margin-top: 25px;
  padding: 5px 30px;
}
#bottom-content button:hover {
  background-color: #FE9A76;
}
main {
  margin: 1vh 5vw 1vh 5vw;
}
main .about {
  margin-bottom: 15vh;
}
main .about h1 {
  margin: 12% 0 0 0;
  text-align: center;
  font-size: 2.6rem;
}
main .about p {
  font-size: 1.6rem;
  margin-top: 6%;
}
main .about p strong {
  font-weight: 600;
}
main .meetUs h2 {
  text-align: center;
  font-weight: 900;
  font-size: 2.6rem;
}
main .meetUs .teams h3 {
  font-weight: 200;
  text-align: center;
  font-size: 2rem;
  margin: 4vh 0;
}
main .meetUs .teams .teamMember {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 6%;
  padding: 8%;
}
main .meetUs .teams .teamMember img {
  border-radius: 100%;
  margin-left: 35%;
  margin-right: 40%;
}
main .meetUs .teams .teamMember img h3 {
  font-weight: 500;
}
main .meetUs .teams .teamMember img h3 ul {
  font-size: 0.4rem;
}
main .meetUs .teams .teamMember img h3 ul .personContact {
  font-size: 0.1rem;
}
main .contactUs h2 {
  font-weight: 700;
  text-align: center;
  margin-bottom: 2vh;
}
main .contactUs button {
  border: none;
  border-radius: 5px;
  background-color: #6AD856;
  color: #ffffff;
  cursor: pointer;
  margin: 0 auto;
  padding: 5px 35px;
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}
main .contactUs button:hover {
  background-color: #FE9A76;
}
footer {
  margin-top: 100px;
  margin-bottom: 15px;
  text-align: center;
}
footer p {
  font-family: "Nunito", sans-serif;
  font-size: 1.4rem;
}
footer p a {
  text-decoration: none;
  color: #4a4a4a;
}
