main{
    .about{
        margin-bottom: 25vh;
        h1{
            margin: 12% 0 0 0;
            text-align: center;
            font-size: 2.6rem;
        }
        p{
            font-size: 1.6rem;
            margin-top: 6%;
            strong{
                font-weight: 600;
            }
        }
    }
}