/*========== HEADER ==========*/

#landing-header {
  margin: 32px 30px;
  @media @tablet{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 3vh 7vw 3vh 0;
  }

  #sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media @desktop{
      width: 51vw;
    }
  
  h1 {
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    @media @desktop{
      font-size: 3rem;
      padding-bottom: 3%;
      text-align: left;
      
    }
  }
}

  button {
    .buttonStyles(@button-bg, @button-color, @button-hover);
    margin: 33px auto 23px auto;
    padding: 2px 30px;
    font-size: 1.8rem;
    @media @tablet{
      .buttonStyles(@green, @button-color, @peach);
    }
    .desktopButtonText{
      display: none;
      @media @desktop{
        display: inline;
      }
    }
    @media @desktop{
      margin-left: 60%;
      padding: 2% 6%;
      font-size: 1.6rem;
    }
  }
    

  p{
    display: none;
    em{
      @media @desktop{
        font-style: italic;
      }
    }
    @media @tablet{
      display: block;
      text-align: center;
      font-size: 2.5rem;
      margin-top: 2%;
    }
    @media @desktop{
      text-align: left;
      margin-left: 2%;
    }
  }

  img {
    display: none;
    @media @tablet{
      display: block;
      width: 30vw;
    }
  }
}

/*========== TOP CONTENT ==========*/

#top-content {
  @media @desktop{
    display: flex;
    justify-content: space-between;
    width: 100%;
    }

  img {
    display: none;
    @media @desktop{
      display: block;
      width: 52vw;
    }
  }
  .features-div{
    @media @desktop{
      width: 35vw;      
    }

    div {
      margin-top: 42px;

      h2{
        @media @desktop{
          font-weight: 400;
        }
      }
      p {
        margin-top: 15px;
        // margin-right: 10px;
        line-height: 1.2;
        @media @desktop{
          font: 1rem;
        }
      }
      
    }
  }
} 

/*========== TESTIMONIALS ==========*/

.testimonial-block {
  .blockStyles(@testimonial-bg, @testimonial-color, @alt-font);

  padding: 5% 40px 8% 40px;

  &:first-child {
    margin-top: 85px;
  }

  img {
    width: 50px;
  }

  h2 {
    margin-top: 15px;
    font-weight: bold;
  }

  p {
    margin-top: 15px;
    line-height: 1.3;
  }
}

/*========== SUBSCRIPTION PLANS ==========*/

#subscriptions {
  .sub-heading {
    margin-top: 70px;
    text-align: center;
    font-weight: bold;
  }

  .subscription-block {
    .blockStyles(@subscription-bg, @subscription-color, @alt-font);

    padding: 7% 40px 10% 40px;

    sup {
      vertical-align: top;
    }

    .sub-amount {
      font-size: 5rem;
      margin-left: 5px;
    }

    ul {
      margin-top: 30px;

      li {
        margin-bottom: 8px;
        font-weight: bold;
      }
    }

    button {
      .buttonStyles(@button-bg, @button-color, @button-hover);

      margin-top: 20px;
      padding: 5px 35px;
      font-family: @alt-font, sans-serif;
      font-size: 2.2rem;
      font-weight: bold;
    }
  }
}

/*========== BOTTOM CONTENT ==========*/
#bottom-content {
  margin-top: 80px;
  text-align: center;
  font-family: @alt-font, sans-serif;

  h2 {
    font-size: 2.6rem;
    font-weight: bold;
    line-height: 1.3;
  }

  button {
    .buttonStyles(@button-bg, @button-color, @button-hover);

    font-family: @alt-font, sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    margin-top: 25px;
    padding: 5px 30px;
  }
}
