.buttonStyles(@bg, @color, @hover-bg) {
  border: none;
  border-radius: 5px;
  background-color: @bg;
  color: @color;
  cursor: pointer;

  &:hover {
    background-color: @hover-bg;
  }
}

.blockStyles(@bg, @color, @font) {
  background-color: @bg;
  color: @color;
  text-align: center;
  margin: 45px 12% 0 12%;
  font-family: @font, sans-serif;
}

.testimonialsCarouselMedia(@display){
  @media @desktop{
    display: @display;
  }

  @media @tablet{
    background: @peach;
  }
}
