header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem 2rem 3rem;
  @media @desktop{
    width: 100%;
    margin: 0 auto;
    padding-right: 8%;
    }

  a {
    text-decoration: none;
    color: @font-color;
  }

  img {
    width: 60px;
    @media @desktop{
      width: 125px;
      margin-top: 5%;
    }
  }

  .pages {
    font-size: 1.5rem;
  }

  .aboutLink {
    margin-right: 4%;
    font-size: 1.5rem;
  }
}
