header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
  @media @desktop{
    width: 100%;
    margin: 0 auto;
    }

  a {
    text-decoration: none;
    color: @font-color;
  }

  img {
    width: 60px;
    @media @desktop{
      width: 100px;
    }
  }

  .pages {
    font-size: 1.8rem;
  }

  .about {
    margin-right: 40px;
  }
}
