header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1.8rem 4rem 0 4rem;

  a {
    text-decoration: none;
    color: @font-color;
  }

  img {
    width: 100px;
    @media @desktop {
      margin-top: 5%;
    }
  }

  .pages {
    font-size: 1.8rem;
  }

  .about-link {
    margin-right: 40px;
  }
}
